/* FONTS */
@import url("https://fonts.cdnfonts.com/css/satoshi?styles=135009,135007,135002,135000");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  font-family: "Satoshi", sans-serif;
  max-width: 1600px;
  margin: 1em auto;
  background: linear-gradient(rgba(0, 146, 63, 0.2), rgba(0, 146, 63, 0.2)),
    url("/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main {
  max-width: 700px;
  margin: 0 auto;
  background-color: rgba(0, 146, 63, 0.9);
  color: #fff;
  padding: 1em 2em 2.5em;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 2px solid #fff;
}

.header h1 {
  margin-top: 1em;
  text-align: center;
}

.header p {
  margin-top: 0.4em;
  text-align: center;
}

.label {
  margin-top: 2em;
}

.name {
  width: 100%;
  margin-top: 1em;
  display: flex;
  gap: 1.5em;
}

.input-div {
  width: 50%;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
}

.input-div-full {
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
}

.date-picker {
  border-bottom: 1px solid #040d23;
  background-color: #F0F0F0;
}

.date-picker:hover {
  border-bottom: 1px solid #040d23;
}

.date-picker:focus {
  border-bottom: 2px solid #040d23;
}

.button {
  width: 100%;
  margin-top: 2.5em;
  display: flex;
  justify-content: center;
}

.button button {
  padding: 0.8em 3em;
  border-radius: 2em;
  background-color: #F0F0F0;
  margin: 0 auto;
  border: none;
  font-size: 18px;
  font-weight: 700;
  color: darkgreen;
  cursor: pointer;
}

.dialog {
  width: 300px;
  height: 100%;
  padding: 2em;
  background-color: #fcfefc;
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  align-items: center;
}

.dialog img {
  width: 280px;
}

.dialog p {
  text-align: center;
  font-weight: 500;
}

.ok {
  background-color: #040d23;
  color: #dadbde;
  padding: 0.8em 2em;
  border-radius: 2em;
  border: none;
  font-weight: 700;
  cursor: pointer;
  margin-top: 1em;
  font-size: 17px;
}

@media screen and (max-width: 600px) {
  main {
    width: 90%;
    margin: 0 auto;
    padding: 2em;
  }

  .name {
    flex-direction: column;
    gap: 2em;
  }

  .input-div {
    width: 100%;
  }
}
